* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Georgia, Times, 'Times New Roman', serif;
    background-color: #faebd7;
}

h1 {
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-size: 50px;
}

img {
    width: 900px;
    height: 350px;
    display: block;
    margin: 0 auto;
}

h2 {
    text-align: left;
    margin: 25px;
    padding: 10px;
    font-size: 30px;
}

p {
    text-align: left;
    font-size: 20px;
    margin: 20px;
    padding: 5px;
}


ul, ol, a{
    text-align: left;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
}

a:hover {
    color: #800080;
}
