* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(230, 230, 225);
}

h1 {
    padding: 20px;
    border: 20px solid rgb(24, 21, 12);
    margin: 50px auto;
    width: 400px;
    font-size: 40px;
    background-color: rgb(245, 245, 220);
    text-align: center;
}

ul {
    list-style: none;
    font-size: 20px;
}

li {
    margin: 5px auto;
    padding: 25px;
    text-align: center;
}